@{
	if(IsPost){
		int number1 = Convert.ToInt32(Request["number1"]);
		int number2 = Convert.ToInt32(Request["number2"]);
		int Answer;
		string calc = (Request["calc"]);	
		
		 switch(calc)
		{
				case "add":
					input = number1 + number2;
					break;
				case "multiply":
					input = number1 * number2;
					break;
				case "divide":
					input = number1 / number2;
					break;
				case "subtract":
					input = number1 - number2;
					break;
		}		
	}
}

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'/>
    <title>Calculator</title>
  </head>  
<html>
<body> 

	<form action='' method='post'>
		
		<div class='number1'>
			<label>First Number</label>
			<input id='number1' name='number1' type='text'/>
		</div>
		<div class='number2'>
			<label>Second Number</label>
			<input id='number2' name='number2' type='text'/>
		</div>
		
	<fieldset>
		<legend>Type of Talk</legend>
		<input id='add'
			name='add'
			type='radio'
			value='add'
			checked />
		<label class='radio-label'>Addition</label>
		<input id='multiply'
			name='multiply'
			type='radio'
			value='multiply'
			checked />
		<label class='radio-label'>Multiplication</label>
		<input id='divide'
			name='divide'
			type='radio'
			value='divide'
			checked />
		<label class='radio-label'>Division</label>
		<input id='subtract'
			name='subtract'
			type='radio'
			value='subtract'
			checked />
		<label class='radio-label'>Subtraction</label>
	</fieldset>
		

	</form>
</body>
</html>